

@media (max-width: 1200px) {}

@media (max-width: 992px) {
	.text-random-color {
		font-size: 10px;
	}
	h2 {
		font-size: 22px;
	}
}

@media (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
	.w-25 {
		display: none !important;
	}
	.mobile-h25 {
		height: 100% !important;
	}
}

@media (max-width: 768px) {
	.text-random-color {
		font-size: inherit;
	}
	h3 {
		font-size: inherit;
	}
	.w-50 {
		width: 108% !important;
	}
	#form {
		height: 51.5vh !important;
	}
	.mobile-h25 {
		height: 22vh;
	}
}

@media (max-width: 576px) {
	.tv,
	.tv-programmation {
		height: 50vh;
	}
}

